<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../tag-component/tag-component.html">
<link rel="import" href="../../behaviors/string-custom-behavior.html">
<link rel="import" href="../../shared-styles.html">

<dom-module id="selectable-tags-view">
  <template>
    <style include="shared-styles">
    #all {
      text-align: center;
    }
    paper-button {
        text-transform: lowercase;
        padding: 5px;
        margin: 0px;
        min-width: 0px; !important;
        min-height: 0px; !important;
    }
    .selectable-view {
        padding: 0px;
    }
    #less {
        text-align: center;
    }
    .container {
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        height: 142px; !important;
        overflow: hidden;
    }
    tag-component {
        --tag-component-ink-color: var(--abas-green);
    }

    </style>

      <div id="less" class="container">
          <template is="dom-repeat" items="[[selectableTags]]" filter="{{computeFilter(filterString)}}" sort="sort">
              <div class="selectable-view" hidden$="[[_checkIfChosenInSelected(item)]]">
                <paper-button id="[[item.title]]" on-tap="add">
                      <tag-component title="{{item.title}}" count="{{item.count}}"></tag-component>
                </paper-button>
              </div>
          </template>
      </div>

    </template>
  <script>


    Polymer({
        is: 'selectable-tags-view',
        behaviors: [LFBehaviors.CustomStringFunctions],

        properties: {
          selectableTags: {
              type: Array,
              value: [],
              notify: true
          },
          chosenTags: {
              type: Array,
              value: [],
              notify: true
          },
          filterString: {
              type: String,
              notify: true
          }
      },

        _checkIfChosenInSelected: function (item) {
            for (var i = 0, len = this.chosenTags.length; i < len; i++) {
                if (item.title == this.chosenTags[i]) {
                    return true;
                }
            }
          return false;
        },

        add: function (event) {
            var target = event.currentTarget.id;
            if(!this.chosenTags.includes(target)){
                    this.chosenTags.push(target);
            }
            this.set('chosenTags', JSON.parse(JSON.stringify(this.chosenTags)));
            this.set('selectableTags', JSON.parse(JSON.stringify(this.selectableTags)));
        },

        computeFilter: function(filterString) {
          if (!filterString) {
            return null;
          }
          var compareTitle = this.removeUmlautFromString(filterString.toLowerCase());
          return function(item) {
            return item.title.includes(compareTitle);
          };
        },

        /* --- sort the tags to the count-value (if it exits) or to the alphabet---*/
        sort: function(a,b) {
            if(b.count !== undefined) {
                return parseInt(b.count) - parseInt(a.count);
            }
            else{
                return a.title.localeCompare(b.title);
            }
        }
      });
  </script>
</dom-module>
