<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../shared-components/chosen-tags-view/chosen-tags-view.html">
<link rel="import" href="../shared-components/selectable-tags-view/selectable-tags-view.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="link-search-header">
  <template>
    <style include="shared-styles">
        .filter-input {
            display: block;

            margin-left: 0px;
            margin-right: 0px;
            margin-bottom: 10px;
            margin-top: 0px;

            padding: 10px;
            background-color: var(--abas-green);
        }

        .chosen-tags {
            /*margin-bottom: 20px;*/
            min-height: 95px;
        }
        paper-input {
            margin-left: 5px;
            margin-right: 5px;

            /* Label and underline color when the input is not focused */
            --paper-input-container-color: white;

            /* Label and underline color when the input is focused */
            --paper-input-container-focus-color: white;

            /* Label and underline color when the input is invalid */
            --paper-input-container-invalid-color: var(--abas-red);

            /* Input foreground color */
            --paper-input-container-input-color: white;
        }
        .results-box {
            display: block;
            margin-left: 0px;
            margin-right: 0px;
            margin-bottom: 10px;
            margin-top: 10px;
            padding: 10px;
            background-color: var(--abas-red);
            color: #ffffff;
        }
        #results-text {
            display: block;
            padding: 5px 0 5px 5px;
            min-height: 25px; !important;
        }

    </style>

      <iron-ajax
          method="get"
          url='[[filterUrl]]'
          handle-as="json"
          id="ajaxGetSelectableTags"
          last-response="{{result}}">
      </iron-ajax>

      <div class="filter-input">
          <paper-input name="inputValue" value="{{filter}}" id="inputValue" label="Filter" on-keydown="_checkForEnter" no-label-float autofocus></paper-input>
          <div class="card">
              <selectable-tags-view selectable-tags="{{selectableTags}}" chosen-tags="{{chosenTags}}" filter-string="{{filter}}"></selectable-tags-view>
          </div>
      </div>

      <div class="results-box">
          <span id="results-text">RESULTS</span>
          <div class="card chosen-tags">
              <chosen-tags-view chosen-tags="{{chosenTags}}"></chosen-tags-view>
          </div>
      </div>


    </template>

  <script>


    Polymer({
      is: 'link-search-header',

      properties: {
          chosenTags: {
              type: Array,
              notify: true,
              value: [],
              observer: '_chosenTagsChanged'
          },
          selectableTags: {
              value: [],
              notify: true,
              type: Array
          },
          result: {
              type: String,
              notify: true,
              observer: 'resultChanged'
          },
          filterUrl: {
              type: String,
              notify: true
          },
      },

        _chosenTagsChanged: function () {
            var baseFilterString = "http://linkfinderserver.abas.tools:10010/tags/filter?searchtags="
            if (this.chosenTags === undefined || this.chosenTags == null || this.chosenTags.length == 0) {
                this.filterUrl = baseFilterString;
            } else {
                var tagString = this.chosenTags.join(",");
                this.filterUrl = baseFilterString + tagString;
            }

            this.$.ajaxGetSelectableTags.generateRequest();

            // reset filter string
            this.$.inputValue.value = "";
        },

        resultChanged: function () {
            var res = this.result;
            this.selectableTags = res;
        },


        _checkForEnter: function (e) {
            // check if 'enter' (13)
            console.log(e.keyCode);
            var input = this.$.inputValue.value;
            input = input.toLowerCase();

            if (e.keyCode === 13) {
                if (input.indexOf(',') !== -1) {
                    console.log("Tag enthält Komma");
                    return;
                }
                if (input.indexOf(' ') !== -1) {
                    console.log("Tag enthält Leerzeichen");
                    return;
                }
                if (this.chosenTags.includes(input)) {
                    console.log("Tag bereits gewählt");
                    return;
                }

                for (var i = 0; i < this.selectableTags.length; i++) {
                    if (this.selectableTags[i].title == input) {
                        this.chosenTags.push(input);
                        this.set('chosenTags', JSON.parse(JSON.stringify(this.chosenTags)));
                        return;
                    }
                }

                // Select first selectable element, if tag with exact input does not exist
                // Thiis enables the fast typing mode, you dont have to write the whole word.
                var filteredSelectableTags = this.selectableTags.filter(function (tag) {
                    if (input === "") {
                        return true;
                    }
                    return tag.title.includes(input);
                });
                console.log(filteredSelectableTags);

                // Select first selectable element, if tag with exact input does not exist
                // This enables the fast typing mode, you dont have to write the whole word.
                for (var i = 0; i < filteredSelectableTags.length; i++) {
                    if (this.chosenTags.indexOf(filteredSelectableTags[i].title) == -1) {
                        this.chosenTags.push(filteredSelectableTags[i].title);
                        this.set('chosenTags', JSON.parse(JSON.stringify(this.chosenTags)));
                        return;
                    }
                }

            }

            if (e.keyCode === 8) {
                if (input.length == 0) {
                    console.log("Remove last chosen tag");
                    this.chosenTags.pop();
                    this.set('chosenTags', JSON.parse(JSON.stringify(this.chosenTags)));
                    return;
                }
            }
        }

    });
  </script>
</dom-module>
