<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="link-papercard.html">
<link rel="import" href="../shared-styles.html">


<dom-module id="link-search-result-list">
    <template>
        <style include="shared-styles">
            .container {
                text-align: left;
            }

        </style>

        <iron-ajax
                method="get"
                url='[[filterUrl]]'
                handle-as="json"
                id="ajaxTags"
                last-response="{{result}}">
        </iron-ajax>


        <div class="container">
            <template id="list" is="dom-repeat" items="[[allLinks]]">
                <link-papercard filter-url="{{filterUrl}}" chosen-tags="{{chosenTags}}" link="[[item.url]]" tags="[[item.tags]]"></link-papercard>
            </template>
        </div>

    </template>
    <script>
        Polymer({
            is: 'link-search-result-list',
            properties: {
                result: {
                    type: String,
                    notify: true,
                    observer: 'resultChanged'
                },
                sortBy: {
                    type: String,
                    value: "nameAsc",
                    notify: true,
                    observer: 'refreshSort'
                },
                allLinks: {
                    notify: true,
                    type: Array,
                    value: []
                },
                chosenTags: {
                        type: Array,
                        notify: true,
                        value: [],
                        observer: '_chosenTagsChanged'
                },
                filterUrl: {
                    type: String,
                    notify: true
                }

            },
            _chosenTagsChanged: function () {
                var baseFilterString = "http://linkfinderserver.abas.tools:10010/links/filter?searchtags="
                if (this.chosenTags === undefined || this.chosenTags == null || this.chosenTags.length == 0) {
                    this.filterUrl = baseFilterString;
                } else {
                    var tagString = this.chosenTags.join(",");
                    this.filterUrl = baseFilterString + tagString;
                }

                this.$.ajaxTags.generateRequest();
            },
            resultChanged: function () {
                var res = JSON.parse(this.result);
                this.allLinks = res;
            },

            refreshSort: function () {
                this.$.list.render();
            },

            sort: function(a,b) {

                    var s;

                    switch(this.sortBy){
                        case "nameAsc":
                            var valueA = a.link.toLowerCase(); // ignore upper and lowercase
                            var valueB = b.link.toLowerCase(); // ignore upper and lowercase
                            if (valueA < valueB) {
                                s = -1;
                            }
                            else if (valueA > valueB) {
                                s = 1;
                            }
                            // names must be equal
                            else {
                                s = 0;
                            }
                            return s;

                            break;

                        case "nameDesc":
                            var valueA = a.link.toLowerCase(); // ignore upper and lowercase
                            var valueB = b.link.toLowerCase(); // ignore upper and lowercase
                            if (valueA < valueB) {
                                s = 1;
                            }
                            else if (valueA > valueB) {
                                s = -1;
                            }
                            // names must be equal
                            else {
                                s = 0;
                            }
                            return s;

                            break;
                    }
            },
        });
    </script>
</dom-module>
