<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="link-papercard">
    <template>
        <style include="shared-styles">
            .container {
                margin-bottom: 20px;
            }
            .title-url {
                color: black;
                margin-left: 15px;
                overflow: hidden;
            }
            paper-button {
                text-transform: lowercase;
                padding-left: 0px;
                padding-right: 0px;
                min-width: 0px; !important;
            }
            tag-component {
                --tag-component-ink-color: var(--abas-dark-grey);
            }
        </style>

        <div class="container">
            <div class="card">
                <div class="title-url">
                    <a target="_blank" href=[[link]]>[[link]]</a>
                </div>
                <template is="dom-repeat" items="[[tags]]">
                    <paper-button id="[[item]]" on-tap="addTag">
                        <tag-component title="{{item}}"></tag-component>
                    </paper-button>
                </template>
                <div class="card-actions">
                    <div class="horizontal justified">
                        <paper-button on-click="openURL">OPEN</paper-button>
                    </div>
                </div>
                <!--<paper-button class="paper-button" on-click="shareURL">SHARE</paper-button>-->
            </div>
        </div>

    </template>

    <script>
        Polymer({
            is: 'link-papercard',
            properties: {
                link: {
                    type: String
                },
                tags: {
                    type: Array,
                    value: [],
                    notify: true
                },
                chosenTags: {
                    type: Array,
                    notify: true,
                    value: []
                },
                filterUrl: {
                    type: String,
                    notify: true
                }
            },
            addTag: function (event) {
                var target = event.currentTarget.id;
                if(!this.chosenTags.includes(target)){
                    this.chosenTags.push(target);
                }
                this.set('chosenTags', JSON.parse(JSON.stringify(this.chosenTags)));
            },

            openURL: function () {
                window.open(this.link, '_blank');
            },

            shareURL: function () {
                window.open(this.filterUrl, '_blank');
            }
        });
    </script>
</dom-module>
