<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../tag-component/tag-component.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../shared-styles.html">


<dom-module id="chosen-tags-view">
    <template>
        <style include="shared-styles">
            #main {
                text-align: center;
            }
            paper-button {
                text-transform: lowercase;
                padding: 5px;
                margin: 0px;
                min-width: 0px; !important;
            }
            .container {
                display: flex;
                flex-wrap: wrap;
            }
            tag-component {
                --tag-component-ink-color: var(--abas-red);
            }

        </style>

        <div id="main" class="container">
            <template is="dom-repeat" items="[[chosenTags]]">
                <paper-button id="[[item]]" on-tap="delete">
                    <tag-component title="{{item}}"></tag-component>
                </paper-button>
            </template>
        </div>
    </template>
    <script>

        Polymer({
            is: 'chosen-tags-view',

            properties: {
                chosenTags: {
                    type: Array,
                    value: [],
                    notify: true
                }
            },

            delete: function (event) {
                var target = event.currentTarget.id;
                for (var i = 0, len = this.chosenTags.length; i < len; i++) {
                    if(target == this.chosenTags[i]){
                        this.chosenTags.splice(i, 1);
                    }
                }
                this.set('chosenTags', JSON.parse(JSON.stringify(this.chosenTags)));
            }
        });
    </script>
</dom-module>
