<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../shared-components/chosen-tags-view/chosen-tags-view.html">
<link rel="import" href="../shared-components/selectable-tags-view/selectable-tags-view.html">
<link rel="import" href="../behaviors/string-custom-behavior.html">
<script src="../../md5/md5.min.js"></script>

<dom-module id="link-add-dialog">
    <template>
        <style include="shared-styles">
            paper-dialog {
                width: 50%;
                max-width: 800px;
            }
            paper-input.link {
                margin-left: 5px;
                margin-right: 5px;
            }
            paper-input.filter {
                margin-left: 5px;
                margin-right: 5px;

                /* Label and underline color when the input is not focused */
                --paper-input-container-color: white;
                /* Label and underline color when the input is focused */
                --paper-input-container-focus-color: white;
                /* Label and underline color when the input is invalid */
                --paper-input-container-invalid-color: var(--abas-red);
                /* Input foreground color */
                --paper-input-container-input-color: white;
            }
            .container {
                padding: 0px;
            }
            .chosen-tags {
                /*margin-bottom: 20px;*/
                min-height: 95px;
            }
            #results-text {
                display: block;
                padding: 5px 0 5px 5px;
                min-height: 25px; !important;
            }
            .filter-box {
                display: block;

                margin-left: 0px;
                margin-right: 0px;
                margin-bottom: 10px;
                margin-top: 20px;

                padding: 10px;
                background-color: var(--abas-green);
            }
            .filter-input {
                display: flex;
                flex-flow: row wrap;
                margin-bottom: 5px;
                justify-content: space-between;
            }
            .filter-input .create-button {
                align-self: flex-end;
                color: #ffffff;
            }

            .results-box {
                display: block;
                margin-left: 0px;
                margin-right: 0px;
                margin-bottom: 10px;
                margin-top: 10px;
                padding: 10px;
                background-color: var(--abas-red);
                color: #ffffff;
            }


        </style>

        <!--Abfrage der URL als Query-Parameter-->
        <app-location route="{{route}}" query-params="{{queryParams}}"></app-location>

        <!--Alle TagSuggestions aus der Datenbank laden TODO: URL austauschen!-->
        <iron-ajax
                auto
                method="get"
                url="http://linkfinderserver.abas.tools:10010/suggestions"
                handle-as="json"
                id="ajaxTagsSuggestions"
                last-response="{{selectableTags}}">
        </iron-ajax>

        <iron-ajax
                method="POST"
                url="http://linkfinderserver.abas.tools:10010/links"
                body='{"url": "[[link]]","id": "[[hash]]","tags": [[tagArrayString]]}'
                content-type="application/json"
                handle-as="json"
                id="ajaxPostLink">
        </iron-ajax>

        <paper-dialog id="dialog" with-backdrop>
            <h2>Add new link</h2>
            <div class="container">
                <div class="link-input">
                    <paper-input id="linkInput" label="Link" value="{{link}}"auto-validate pattern="^(http|https|ftp|file)://.*" error-message="(http, https, ftp, file) link prefix needed!" required autofocus tabindex="1" invalid=""></paper-input>
                </div>

                <div class="filter-box">
                    <div class="filter-input">
                        <paper-input class="filter" value="{{filter}}" label="Filter" on-keydown="_checkForEnterOrDeleteOrF7" no-label-float autofocus tabindex="2"></paper-input>
                        <paper-button class="create-button" on-tap="_createButtonTapped">Create (F7)</paper-button>
                    </div>
                    <div class="card">
                        <selectable-tags-view selectable-tags="{{selectableTags}}" chosen-tags="{{chosenTags}}" filter-string="{{filter}}"></selectable-tags-view>
                    </div>
                </div>

                <div class="results-box">
                    <span id="results-text">SELECTION</span>
                    <div class="card chosen-tags">
                        <chosen-tags-view chosen-tags="{{chosenTags}}"></chosen-tags-view>
                    </div>
                </div>
            </div>

            <div class="buttons">
                <paper-button class="cancel" dialog-dismiss tabindex="4">Cancel</paper-button>
                <paper-button id="addButton" class="add" dialog-confirm tabindex="3" on-tap="_submitAddForm">Add</paper-button>
            </div>
        </paper-dialog>

    </template>
    <script>
        Polymer({
            is: 'link-add-dialog',
            behaviors: [LFBehaviors.CustomStringFunctions],
            properties: {
                link: {
                    type: String,
                    value: "",
                    notify: true,
                    reflectToAttribute: true,
                    observer: '_handleLinkValidation'
                },
                chosenTags: {
                    type: Array,
                    notify: true,
                    value: [],
                    observer: '_chosenTagsChanged'
                },
                selectableTags: {
                    value: [],
                    notify: true,
                    type: Array
                },
                tagArrayString: {
                    type: String,
                    computed: '_stringify(chosenTags)'
                },
                hash: {
                    type: String,
                    computed: '_createHashFromLink(link)'
                },
                filter: {
                    type: String,
                    value: "",
                    notify: true
                },
                queryParams: {
                    type: String,
                    observer: '_checkQueryParams'
                }
            },
            _handleLinkValidation: function () {
                this.async(function () {
                    console.log("_handleLinkValidation");
                    this.$.addButton.hidden = this.$.linkInput.invalid;
                }, 100);
            },
            _getNewTagString: function() {
                console.log("_getNewTagString");
                if (this.filter === undefined) { return; }

                var newTagTitle =  this.removeUmlautFromString(this.filter.toLowerCase());

                for (var i = 0; i < this.selectableTags.length; i++) {
                    if (this.selectableTags[i].title == newTagTitle) {
                        return newTagTitle;
                    }
                }

                return newTagTitle;
            },
            _chosenTagsChanged: function () {
                if (this.selectableTags === undefined) { return; }
                this.set('selectableTags', JSON.parse(JSON.stringify(this.selectableTags)));
                this.filter = "";
            },
            _createButtonTapped: function () {
                this._addNewTagToChosenTags();
            },
            _checkQueryParams: function () {
                console.log("_checkQueryParams " + this.queryParams);
                this.link = this.queryParams.param;
            },
            _checkForEnterOrDeleteOrF7: function (e) {
                if (this.filter === undefined) { return; }
                console.log(e.keyCode);

                switch(e.keyCode) {
                    case 8:
                        this._removeLastTagFromChosenTags();
                        break;
                    case 13:
                        this._addSelectableTagToChosenTags();
                        break;
                    case 118:
                        this._addNewTagToChosenTags();
                        break;
                    default:
                        break;
                }
            },
            _addSelectableTagToChosenTags: function () {
                if (this.chosenTags === undefined || this.filter === undefined ) { return; }

                var input = this.filter.toLowerCase();

                if (input.indexOf(',') !== -1) {
                    console.log("Tag enthält Komma");
                    return;
                }
                if (input.indexOf(' ') !== -1) {
                    console.log("Tag enthält Leerzeichen");
                    return;
                }
                if (this.chosenTags.includes(input)) {
                    console.log("Tag bereits gewählt");
                    return;
                }
                for (var i = 0; i < this.selectableTags.length; i++) {
                    if (this.selectableTags[i].title == input) {
                        this.chosenTags.push(input);
                        this.set('chosenTags', JSON.parse(JSON.stringify(this.chosenTags)));
                        return;
                    }
                }

                // Select first selectable element, if tag with exact input does not exist
                // This enables the fast typing mode, you dont have to write the whole word.
                var filteredSelectableTags = this.selectableTags.filter(function (tag) {
                    if (input === "") {
                        return true;
                    }
                    return tag.title.includes(input);
                });
                console.log(filteredSelectableTags);
                for (var i = 0; i < filteredSelectableTags.length; i++) {
                    if (this.chosenTags.indexOf(filteredSelectableTags[i].title) == -1) {
                        this.chosenTags.push(filteredSelectableTags[i].title);
                        this.set('chosenTags', JSON.parse(JSON.stringify(this.chosenTags)));
                        return;
                    }
                }
            },
            _addNewTagToChosenTags: function () {
                if (this.chosenTags === undefined) { return; }

                var newTagTitle = this.removeUmlautFromString(this._getNewTagString());
                console.log("Adding new tag with title: " + newTagTitle);
                if (!this.chosenTags.includes(newTagTitle) && newTagTitle !== "" && newTagTitle.indexOf(' ') === -1 && newTagTitle.indexOf(',') === -1) {
                    this.chosenTags.push(newTagTitle);
                    this.set('chosenTags', JSON.parse(JSON.stringify(this.chosenTags)));
                    return;
                } else {
                    console.log("No new tag string or invalid characters");
                }
            },
            _removeLastTagFromChosenTags: function() {
                if (this.chosenTags !== undefined && this.filter !== undefined && this.filter.length == 0) {
                    console.log("Remove last chosen tag");
                    this.chosenTags.pop();
                    this.set('chosenTags', JSON.parse(JSON.stringify(this.chosenTags)));
                }
            },
            // submit the data of the form
            _submitAddForm: function () {
                console.log("_submitAddForm");
                this.$.ajaxPostLink.generateRequest();
                this._reset();
            },
            _createHashFromLink: function (linkString) {
                if (linkString === undefined) { return; }
                var linkSmall = linkString.toLowerCase();
                console.log("started _hashLinkFunction");
                return md5(linkSmall);
            },
            _stringify: function (object) {
                return JSON.stringify(object);
            },
            _reset: function () {
                this.link = "";
                this.filter = "";
                this.chosenTags = null;
            },
            open: function () {
                console.log("showDialog");
                this.$.dialog.toggle()
            }
        });
    </script>

</dom-module>
