<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="modal-views/link-add-dialog.html">
<link rel="import" href="link-search-header/link-search-header.html">
<link rel="import" href="link-search-result-list/link-search-result-list.html">


<dom-module id="my-app">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }

      app-header {
        color: #fff;
        background-color: var(--abas-dark-grey);
        font-family: 'AbasPermanentMarker', Fallback, sans-serif;
      }
      paper-icon-button {
        --paper-icon-button-ink-color: var(--abas-green);
        color: var(--abas-green);
      }

      app-toolbar {
        margin: 0 auto;
        max-width: 900px;
      }

      app-toolbar a {
          color:white;
          font-family: 'Roboto', sans-serif;
          text-decoration: none;
          font-size: small;
          width: 150px;
      }

      paper-tabs {
        background-color: var(--abas-red);
      }

      paper-tab[link] a {
        /* These mixins (from iron-flex-layout) center the link text. */
        @apply(--layout-horizontal);
        @apply(--layout-center-center);
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "PT Sans",Arial,sans-serif;
        font-weight: 700;
        font-size: 18px;
      }

      footer {
        position:fixed;
        bottom:0;
        left:0;
        right:0;
        height: 30px;
      }

      footer a {
          color:white;
      }

      .container {
        margin: 0 auto;
        padding: 10px;
        max-width: 900px;
      }

      .app-footer {
        height: 100px;
        margin: 0 auto;
        background-color: var(--abas-black);
        padding-left: 20px;
        font-family: 'sans-serif';
        font-size: 15px;
        color: #fff;
        text-align: center;
      }

    </style>

    <app-location route="{{route}}"></app-location>
    <app-route
            route="{{route}}"
            pattern="/:page"
            data="{{routeData}}"
            tail="{{subroute}}">
    </app-route>

    <app-header fixed="true">
      <app-toolbar>
        <div main-title><span>abas Link Finder - an innovation week project</span></div>
          <a href="../resources/plugin.crx" download="abasLinkFinderChromePlugin.crx" target="_blank">Chrome plugin</a>
          <paper-icon-button icon="add-circle" on-click="_showAddDialog"></paper-icon-button>
      </app-toolbar>
    </app-header>

    <div class="container">
      <link-search-header chosen-tags="{{chosenTags}}"></link-search-header>
      <link-search-result-list chosen-tags="{{chosenTags}}"></link-search-result-list>
    </div>

    <footer>
      <div class="app-footer"><b>We love feedback! - Speak to: </b>
          <a href="mailto:Jan.Andre@abas.de">Jan André</a> ,
          <a href="mailto:Markus.Getto@abas.de">Markus Getto</a>,
          <a href="mailto:christina.springer@abas.de">Christina Springer</a>,
          <a href="mailto:GoetzPhillipp.Schmidt@abas.de">Götz Schmidt</a>  or
          <a href="mailto:Jens.Hafermann@abas.de">Jens Hafermann</a> </div>
    </footer>

    <link-add-dialog id="dialog"></link-add-dialog>

  </template>

  <script>
      Polymer({
          is: 'my-app',

          properties: {
              page: {
                  type: String,
                  reflectToAttribute: true,
                  observer: '_pageChanged',
              },
          },

          observers: [
              '_routePageChanged(routeData.page)',
          ],

          _routePageChanged: function(page) {
              console.log("my-app requesting page: " + page);
              var validPages = ["add"];
              if (validPages.includes(page)) {
                  this.page = page
              } else {
                  this.set('route.path', '/');
              }

              if (this.$.drawer !== undefined && !this.$.drawer.persistent) {
                  this.$.drawer.close();
              }
          },

          _pageChanged: function(page) {
              if (page == "add") {
                  console.log("_showAddDialog");
                  this.$.dialog.open();
              }
          },

          _showAddDialog: function () {
              console.log("_showAddDialog");
              this.$.dialog.open();
          }

      });
  </script>
</dom-module>
