<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style>
      .card {
        padding: 15px;
        color: #757575;
        border-radius: 5px;
        background-color: #ffffff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .circle {
        display: inline-block;
        width: 64px;
        height: 64px;
        text-align: center;
        color: #555;
        border-radius: 50%;
        background: #dddddd;
        font-size: 30px;
        line-height: 64px;
      }
      span.underline {
        padding-bottom: 2px;
        margin-bottom: 5px;
        font-size: 16px;
        border-bottom: 1px solid grey;
        display: block;
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }

      :host {
        --abas-red:#E40046;
        --abas-green:#1BBBa3;
        --abas-dark-grey:#2a3539;
        --abas-light-grey:#e6ebee;
        --abas-black:#1b1f22;
      }

    </style>
  </template>
</dom-module>
