<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../shared-styles.html">

<dom-module id="tag-component">
    <template>
        <style include="shared-styles">
            .md-chip {
                display: inline-block;
                border-radius: 10px;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
                -webkit-transition: .2s ease-out;
                transition: .2s ease-out;

                /*background-color: var(--tag-component-ink-color, #555555);*/
                background-color: #999999;
            }
            .md-chip-text {
                font-weight: 700;
                font-size: 18px;
                display: inline-flex;
                align-items: center;
                color: #ffffff;
                overflow: hidden;
                padding: 5px 10px 5px 10px;
            }
            .md-chip-count {
                font-weight: 400;
                font-size: 14px;
                display: inline-flex;
                align-self: center;
                color: var(--abas-black);
                overflow: hidden;
                padding: 5px 10px 5px 0px;
            }
            .md-chip:hover {
                box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
                cursor: pointer;
            }
            span:empty {
                display: none;
                margin: 0;
                padding: 0;
            }


        </style>
        <div class="md-chip">
            <span class="md-chip-text">[[title]]</span>
            <span class="md-chip-count" id="countLabel">[[count]]</span>
        </div>
    </template>

    <script>
        Polymer({
            is: 'tag-component',
            properties: {
                title: {
                    type: String
                },
                count: {
                    type: String,
                    value: ""
                }
            },

            ready: function () {
                if( this.count !== undefined) {
                    this.$.countLabel.style.display = "compact";
                }
                else {
                    this.$.countLabel.style.display = "none";
                }
            },
        });
    </script>
</dom-module>
